.jumbotron {
    background: url(../upload/xiao/shixunlou.jpg) no-repeat center center;
    background-size: cover;
}

.jumbotron .display-3 {
    font-weight: 500;
    margin-left: 20px;
}

.GUET_sb .item {
    padding-left: 15px;
    text-indent: 2em;
}

.GUET_sb .item p {
    font-size: 1rem;
}

.GUET_sb .list-group-item.active {
    background-color: rgb(0, 74, 145);
    border-color: rgb(0, 74, 145);
}